.grid-completar-registro{
    border: 1px solid #ccc;
    gap:2em !important;
}

.row-completar-registro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.item-1-registro{
    box-shadow:0 0 10px 0 rgba(0,0,0,.2) !important;
    text-align: left !important;
    padding: 20px !important;
   
}
.espaciador-amarillo {
    margin-top: 1rem !important;
    background-color: #ffb200 !important;
    width: 5rem !important;
   
    height: 5px !important;
    border-radius: 10px !important;
}

.espaciador-amarillo-2{
    margin-top: 1rem !important;
    background-color: #ffb200 !important;
    width: 5rem !important;
    height: 5px !important;
    border-radius: 10px !important;
}

.item-2-registro{
    box-shadow:0 0 10px 0 rgba(0,0,0,.2) !important;
    text-align: left !important;
    padding: 20px !important;
   
}
