.franja-up { 
    width: 30%;
    height: 5px;
    background: #ffb200;
    position: absolute;
    top: 0;
    z-index: 9999;
}
.franja-up .calipso {
    width: 50%;
    height: 5px;
    background: #303030;
 
}

.franja-up .rojo {
    width: 10%;
    height: 5px;
    background: #006d8e;
}
.nav-botones{
gap: 20px;
}
.btn:hover{
    background: #006d8e;
    color: #fff !important;
}

.btn-2:hover{
    background: #ffb200;
    color: black !important;
}