.input-recovery-password {
  border-color: #f3f7fe !important;
  background-color: #f3f7fe !important;
  border-radius: 5px !important;
  font-weight: 500;
}

.btn-recovery-password {
  background-color: #006d8e !important;
}

.btn-recovery-password:hover {
  background-color: #ffb200 !important;
}
.css-dev-only-do-not-override-1ct6cg{
  background-color: #f3f7fe;
}