.btn-changepassoword {
    background-color: #006d8e;
}

.btn-changepassoword:hover {
    background-color: #ffb200;
}
.btn-changepassoword{
    background-color: #006d8e !important;
}

.btn-changepassoword:hover{
    background-color: #ffb200!important;
}
.css-dev-only-do-not-override-6foo54{
    border-radius: 5px !important;
}
.btn-verification-code {
    /* Estilos para el botón habilitado */
    background-color: #006d8e !important;
    color: white;
}

