.css-dev-only-do-not-override-1e67qka {
    font-weight: 500 !important;
}

.btn-changepassoword {
    background-color: #006d8e;
}

.btn-changepassoword:hover {
    background-color: #ffb200;
}

.css-dev-only-do-not-override-33f5ww {
    font-weight: 500 !important;
}

.btn-changepassoword{
    background-color: #006d8e !important;
}

.btn-changepassoword:hover{
    background-color: #ffb200!important;
}