.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-izquierdo {
  margin-right: 4% !important;
}

/***** LOGIN FORM *****/

.box-login-form {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid transparent; 
  padding: 25px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}	

.input-forms{
  margin-bottom: 10px;
  color: #ccc !important;
}
.btn-register{
  background-color: #006D8E !important;
  color:white  !important;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  size: "small";
  box-shadow: 0 0 10px #ccc;
  font-weight: 500;
}	
.btn-register:hover{
  background-color: black !important;
  color: white  !important;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  size: "small";
  box-shadow: 0 0 10px #ccc;
}	
.text-lost-password{
  color : #006D8E;
  font-weight: bold;
}
.btn-login{
  background-color: #006D8E !important;
}
.btn-login:hover{
  background-color: #FFB201 !important;
  color: black !important;
}
.text-login{
  color: #006D8E  !important;
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
}
.css-1p5q5e5-MuiStack-root>:not(style)+:not(style){
  margin-top: 0px !important;
}

/***** REGISTER FORM *****/

.btn-create-account{
  background-color: #006D8E !important;
  color:white  !important;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  size: "small";
  box-shadow: 0 0 10px #ccc;
  font-weight: 500;
}

.btn-create-account:hover{
  background-color: #FFB201 !important;
color: black !important;
}