body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.facebook-background {
  background-color: #4267B2
  !important;
}
.google-background {
  background-color: white
  !important;
  color:black !important;
}
.mail-background {
  background-color: white
  !important;
  color:black !important;
}
.twitter-background {
  background-color: #0093d3
  !important;

}