.appbar{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    justify-content: right;

}
.logout-icon-button-appbar{
    color: #FFB200;
    font-size: 20px;
    margin-left: 10px;
}
.css-hyum1k-MuiToolbar-root{
    justify-content: right;
}

@media screen and (max-width: 600px) {
    .appbar{
        justify-content: center;
    }

    .css-hyum1k-MuiToolbar-root{
        justify-content: space-between !important;
    }
}