.espaciador-azul-dashboard {
    background-color: white !important;
    height: 2px !important;
}

.list-menu-dashboard {
color : black !important;
}
.icon-list-dashboard{
    color : white !important;
}

.text-list-dashboard{
    color:white !important;
}
.list-menu-dashboard:hover{

}
.list-menu-dashboard:active{

}
.menu-dashboard{
        padding: 1px !important;
        background-color: aqua!important;
}